<nav class="container">
  <div class="navbar">
    <div>
      <a href="/">Vocial2</a>
    </div>
    <ul>
      <li><a href="/polls">Polls</a></li>
      <%= if user = Plug.Conn.get_session(@conn, :user) do %>
        <li><%= link "Welcome #{user.username}", to: Routes.user_path(@conn, :show, user.id) %></li>
      <% else %>  
        <li><a href="/login">Login</a></li>
      <% end %>
    </ul>
  </div>
</nav>